projectlevel/.vs/
projectlevel/Binaries/
projectlevel/Intermediate/
projectlevel/Saved/
projectlevel/Content/Maps/NewWorld_3_BuiltData.uasset
projectlevel/Content/Maps/NewWorld_2_BuiltData.uasset
projectlevel/Content/Maps/NewWorld_1_BuiltData.uasset
projectlevel/Content/Maps/NewWorld_4_BuiltData.uasset
projectlevel/Content/StarterContent/Audio/
